[submodule "include/utils/ply_utils"]
	path = docker-build/include/utils/ply_utils
	url = https://github.com/jianhengLiu/ply_utils.git
[submodule "submodules/llog"]
	path = docker-build/submodules/llog
	url = https://github.com/jianhengLiu/llog.git
[submodule "submodules/kaolin_wisp_cpp"]
	path = docker-build/submodules/kaolin_wisp_cpp
	url = https://github.com/jianhengLiu/kaolin_wisp_cpp.git
[submodule "submodules/simple-knn"]
	path = docker-build/submodules/simple-knn
	url = https://github.com/jianhengLiu/simple-knn
